<!DOCTYPE html>
<html>
<head>
  <title>AllAboutChew</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if session[:user] %>
      <a href="/sign_out"><%= session[:user]["username"] %>: sign out</a></h2>
    <% else %>
      <%= link_to 'Sign Up',  new_user_registration_path %>
      <%= link_to 'Sign In',  new_user_session_path %>
    <% end %>
  </nav>
  <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
